<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Add New Student</h1>
    <form id="form_add_student" name="addstudent"  method="post"  action="/addstudent">

        Name: <input id="input_name" type="text" placeholder="student" name="student"> <BR><BR>
        Street: <input id="input_street" type="text" placeholder="street" name="street"> <BR><BR>
        City: <input id="input_city" type="text" placeholder="city" name="city">  <BR><BR>
        State: <input id="input_state" type="text" placeholder="state" name="state">  <BR><BR>
        Sex: <input id="input_sex" type="text" placeholder="sex" name="sex"><BR><BR>
        GPA: <input id="input_gpa" type="text" placeholder="gpa" name="gpa"><BR><BR>
        <button id="submit_student" name="submit" value="submit" type="submit">Submit</button>
    </form>
</body>
</html>