header
{
    padding-top: 15px;
    height:150px;
    max-width:450px;
    margin: 0 auto;
}
.modal-header, h4, .close {
    background-color: #777;
    color:white !important;
    text-align: center;
    font-size: 25px;
}
#first
{
    padding-left: 550px;
}
#radioChoose
{
    text-align: center;
}