<div id="sign1" class="modal-dialog"  ng-show="tab.isSet(1)">
    <div  class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Log-in As a worker</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email">
                <a class="btn btn-social-icon btn-facebook">
                    <span class="fa fa-facebook"></span>facebook
                </a>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
            </div>
            <p class="text-right"><a href="#">Forgot password?</a></p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary">Log-in</a>
            <p> <a href="/newstudent">not sign yet?sign now!!</a></p>


        </div>
    </div>
</div>

