extends layout

block content
    h3.
        Students
    ul
        each student, i in studentList
            li#student_list_item
                a(href='#') #{student.student} lives at #{student.street} #{student.city}, #{student.state}