<div id="sign2" class="modal-dialog" ng-show="tab.isSet(2)">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Log-in As a family</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="exampleInputEmail2">Email address</label>
                <input class="form-control" id="exampleInputEmail2" placeholder="Enter email" type="email">
                <a class="btn btn-social-icon btn-facebook">
                    <span class="fa fa-facebook"></span>facebook
                </a>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2">Password</label>
                <input class="form-control" id="exampleInputPassword2" placeholder="Password" type="password">
            </div>
            <p class="text-right"><a href="#">Forgot password?</a></p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary">Log-in</a>
            <p> <a href="/newstudent.html">not sign yet?sign now!!</a></p>


        </div>
    </div>
</div>
